.group-number {
    margin-bottom: 0.5rem;
    margin-right: 10px;

    .number {
        color: #000;
        font-size: 18px;
        letter-spacing: 1.50px;
        word-wrap: break-word
    }

    .underline {
        margin-top: 4px;
        background: #603EBE;
        border-radius: 2.50px
    }
}


.description {
    color: #000;
    word-wrap: break-word;
}

span.icon-plus {
    position: absolute;
    color: $base-color;
    stroke: $base-color-stroke;
    font-size: 15px;
    stroke-width: 1px;
}

.section-footballer {
    width: 218px;

    .icon-plus {
        &:nth-child(1) {
            left: 0px;
            top: 11px;
        }

        &:nth-child(3) {
            left: 20px;
            top: 7px;
        }

        &.icon-gray {
            opacity: 0.30;
        }

    }
}


.section-basketball {
    width: 218px;

    span.icon-plus {

        &:nth-child(3) {
            left: 49px;
            top: 1px;
        }

        &:nth-child(4) {
            left: 71px;
            top: 8px;
        }

        &:nth-child(5) {
            left: 266px;
            top: 149px;
        }

        &.icon-gray {
            opacity: 0.30;
        }

    }
}