.group-number {
    margin-bottom: 0.5rem;
    margin-right: 10px;

    .number {
        color: black;
        font-size: 18px;
        letter-spacing: 1.50px;
        word-wrap: break-word
    }

    .underline {
        margin-top: 4px;
        width: 19px;
        height: 5px;
        background: #603EBE;
        border-radius: 2.50px
    }
}


.description {
    color: black;
    word-wrap: break-word
}


.section-footballer {
    width: 218px;
    // img.footballer-url {
    //     fill: url(../assets/images/football.png), lightgray 0px 0px / 100% 100% no-repeat;
    // }

    .icon-plus {
        position: absolute;
        color: $base-color;
        stroke: $base-color-stroke;
        font-size: 18px;

        &:nth-child(1) {
            left: 0px;
            top: 11px;
        }

        &:nth-child(3) {
            left: 20px;
            top: 7px;
        }


        &.icon-gray {
            opacity: 0.30;
        }

    }
}

.tp-mt-md {
    margin-top: 0px !important;
}