body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


h1,
h2,
h3,
h4,
h5,
h6 {

    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h1 {
    color: #E7E7E7;
}

h3 {
    color: #C2C2C2;
    letter-spacing: 1.50px;
    word-wrap: break-word;
}

section {

    &#section {
        padding: 30px 0;
        position: relative;
    }

}