$base-color: #5C37B7;
$base-color-stroke: #9173E6;
$section-primary-color: #5E3DB3;
$section-color: #F5F4F9;
$line-color: #936EEA;

$grid-breakpoints: (
    xs: 0,
    sm: 320px,
    md: 768px,
    lg: 1920px,
);