@include media-breakpoint-up(sm) {

    h1 {
        font-size: 3.125rem; //50px
    }

    h3 {
        font-size: 1.75rem; //28px
    }

    .mx-sm-5 {
        margin-right: 3.25rem !important;
        margin-right: 3.125rem !important;
    }

    .containerMobile {
        display: block;
        position: relative;
        top: 14rem;
    }

    .carousel-indicators {
        bottom: 14px !important;
    }

    .containerDesktop {
        display: none;
    }

    .tp-content-bottom {
        margin-bottom: 12px;
    }

    .group-number {
        .number {
            font-size: 14px;
        }

        .underline {
            margin-top: 2px;
            width: 17px;
            height: 4px;
        }
    }

    .description {
        font-size: 15px;
        line-height: normal;
    }

    #footballer {
        height: 580px;

        section {
            padding: 72px 0 60px 0px;
            min-height: 284px;
            background-color: $section-color;
        }

        #footballer-content {
            height: 508px;
        }

        .tp-bg-secondary,
        .tp-bg-primary {
            .group-number {
                .underline {
                    width: 22px;
                }
            }

        }

        .section-footballer {
            position: relative;
            height: 281px;
            bottom: 18rem;
        }

        .line-45 {
            width: 178.89px;
            height: 197.23px;
            left: 35px;
            top: 10px;
            position: absolute;
        }

        .footballer {
            width: 219px;
            height: 281px
        }

        img.footballer {
            width: 219px;
            height: 281px;
            left: 18px;
            top: 0px;
            position: absolute;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            display: inline-flex;
        }

    }



    #basketball {
        height: 534px;

        section {
            padding: 72px 0 60px 0px;
            min-height: 238px;
            background-color: $section-color;
        }

        .player-top {
            margin-top: 19px;
        }

        .line-45 {
            width: 106.346px;
            height: 123.199px;
            left: 49px;
            top: 108.92px;
            position: absolute;

            &:nth-child(2) {
                width: 76.691px;
                height: 89.838px;
                left: 183.89px;
                top: 23.32px;
            }
        }


        img.basketball {
            width: 302px;
            height: 249px;
            right: 15px;
            top: 0px;
            position: absolute;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            display: inline-flex;
        }

        .section-basketball {
            width: 302px;
            height: 250px;
            position: absolute;
            top: 0px;
            margin-top: 15px;
        }
    }



}