@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #E7E7E7;
  font-size: 5.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}